<div class="loginContainer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameOffline marto15 marbo15">
          <img src="../../assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="center">
          <h3>Inizio sessione</h3>
        </div>
        <p *ngIf="operation == 'register'">Hai già un account? <a (click)="operation = 'login'">Login</a></p>
        <p *ngIf="operation == 'login'">Non hai un account? <a (click)="operation = 'register'">Registrati</a></p>
        <div class="borderContainer">
          <input [(ngModel)] ="email" class="form-control marbo15" type="email" placeholder="Inserisci email">
          <input [(ngModel)] ="password" class="form-control marbo15" type="password" placeholder="Inserisci password">
          <input class="form-control" type="text" placeholder="Inserisci User">
        </div>
        <div class="center marto15 marbo15">
          <a (click)="login" *ngIf="operation == 'login'" href="" class="btn btn-primary">Iniziare sessione</a>
          <a (click)="register" *ngIf="operation == 'register'" href="" class="btn btn-primary">Registrati</a>
        </div>
      </div>
    </div>
  </div>
</div>