<div id="profileContainer">
  <div class="container pato45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatarFrameOnline">
          <img src="../../assets/img/generic_avatar.png" alt="" class="avatar-image img-fluid">
        </div>
        <hr>
        <div>
          <span>Cambiare foto</span> <br>
          <label for="" class="custom-file-upload">
            <input type="file">
            Caricare avatar
          </label>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <label fixed>Nick</label>
          <input type="text" class="form-control">
        </div>
        <div>
          <label fixed>Subnick</label>
          <input type="text" class="form-control">
        </div>
        <div>
          <label fixed>Email</label>
          <input type="email" disabled class="form-control">
        </div>
        <div>
          <label fixed>Status</label>
          <select class="form-control">
            <option value="online">Collegato</option>
            <option value="online">Collegato</option>
            <option value="online">Collegato</option>
            <option value="online">Collegato</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>