<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img src="../../assets/img/generic_avatar.png" id="homeAvatarPicture">
          </div>
        </div>

        <div class="col">
          <b>Eduardo</b>
          <div>
            <span>Online</span> <br>
            <span>< Scrivi un messaggio personale ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="text" placeholder="Cerca" [(ngModel)]="query"> 
  <br>
  <b>Aggiunti</b>
  <ng-container *ngFor="let user of friends | search: query; let i = index">
    <div>
      <a routerLink="/conversation/{{user.uid}}">
        {{i}}. {{user.nick}} - {{user.email}}
      </a>
    </div>
  </ng-container>
</div>
